body.darkmode{
  background-color: $brand-darkmode-color;
  
  .SocialMediaBoard-header{
    &__main{
      &--title{
        color: $primary-darkmode-font-color;
      }
      
      &--followers{
        color: $secondary-darkmode-font-color;
      }
    }
    
    .DarkMode{
      color: $primary-darkmode-font-color;
      
      input:checked + .DarkMode__switch{
        background-color: transparent;
        background: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
      }
      
      &__switch{
        background-color: $darkMode-switch ;
        
        &--toggle{
          background-color: $item-darkmode-color;
        }
      }
    }
  }
  
  
  .MainSection,
  .TodaysOverview{
    &__title{
      color: $secondary-darkmode-font-color;
    }
  }
  
  .SocialMedia{
    background-color: $item-darkmode-color;
    
    &__title{
      color: $secondary-darkmode-font-color;
    }
    
    &__followers{
      &--count{
        color: $primary-darkmode-font-color;
      }
      &--title{
        color: $secondary-darkmode-font-color;
      }
    }
    &__rage{
      color: $secondary-darkmode-font-color;
      
      &.success{
        color: $success-font-color;
      }
      &.danger{
        color: $danger-font-color;
      }
    }
  }
  .OverviewItem{
    // max-width: 300px;
    background-color: $item-darkmode-color;
    &__title{
      &--type{
        color: $secondary-darkmode-font-color;
      }
    }
    &__statadistics{
      &--count{
        color: $primary-darkmode-font-color;
      }
      
      &--rage.success{
        color: $success-font-color;
      }
      &--rage.danger{
        color: $danger-font-color;
      }
    }
  }
}